/* variables */
/* mixins */
/* whole site */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html body {
  background-image: url("../images/background.png");
  background-size: 800px 800px; }
  html body p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; }
  html body h1 {
    font-family: 'Fjalla One', sans-serif; }
  html body h2 {
    font-family: 'Fjalla One', sans-serif; }
  html body h3 {
    font-family: 'Fjalla One', sans-serif; }

.navbar {
  background-color: #252525;
  text-decoration: none;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 30px !important; }
  .navbar .nav-item {
    padding-left: 5px;
    padding-right: 5px; }
  .navbar .collapse {
    margin-left: 45px; }
  .navbar a {
    color: white; }

.logo {
  width: 240px; }

#btn {
  color: #802127;
  border: 2px solid #802127;
  border-radius: 20px;
  width: 80px;
  padding-left: 10px;
  padding-right: 10px; }

#btn:hover {
  background-color: #aa2b33;
  color: #252525; }

#srch {
  margin-left: 45px;
  border-radius: 30px; }

.dropdown-menu {
  border-radius: 5px; }
  .dropdown-menu a {
    color: black; }
  .dropdown-menu .dropdown-item:active {
    background-color: #747373; }

.footer {
  background-color: #252525;
  font-weight: 700;
  padding: 30px;
  text-align: center;
  color: white; }
  .footer a {
    font-size: 15px !important;
    color: white; }
  .footer a:hover {
    text-decoration: none;
    color: white; }
  .footer .smedia .smedia__img {
    width: 40px !important;
    margin-left: 12px;
    margin-right: 12px;
    transition: 0.2s; }
  .footer .smedia .smedia__img:hover {
    transform: scale(1.3); }
  .footer .smedia .facebook {
    display: inline-block; }
    .footer .smedia .facebook p {
      display: none; }
  .footer .smedia .instagram {
    display: inline-block; }
    .footer .smedia .instagram p {
      display: none; }
  .footer .smedia .twitter {
    display: inline-block; }
    .footer .smedia .twitter p {
      display: none; }
  .footer .smedia .email {
    display: inline-block; }
  .footer .smedia p {
    display: none; }

.see-more {
  display: inline-block;
  width: 95px;
  font-weight: 400;
  font-size: 0.85rem;
  text-decoration: none;
  background: #919191;
  border: black 2px solid;
  border-radius: 30px;
  color: black;
  padding: 10px; }

.see-more:hover {
  background-color: #aa2b33;
  text-decoration: none;
  color: black; }

/* index.html */
.carousel {
  margin: 20px auto 15px auto;
  width: 65%;
  border-radius: 10px;
  overflow: hidden; }
  .carousel h2 {
    font-size: 22px;
    margin-bottom: 0; }
  .carousel p {
    font-size: 21px;
    margin-bottom: 0; }
  .carousel img {
    width: 100%;
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 10px; }

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px; }

.reviews {
  padding-top: 5px;
  width: 80%;
  border-radius: 30px; }
  .reviews .movie {
    background: #747373;
    height: 420px;
    border: #504f4f 3px solid;
    border-radius: 5px;
    margin-bottom: 30px; }
    .reviews .movie h2 {
      position: relative;
      top: 25px;
      font-size: 2.2rem; }
    .reviews .movie .movie__info {
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
      height: 90%; }
      .reviews .movie .movie__info .movie__thumbnail {
        width: 160px;
        min-width: 130px;
        display: block;
        border-radius: 4px; }
      .reviews .movie .movie__info .of {
        overflow-y: scroll; }
      .reviews .movie .movie__info .movie__synopsis {
        align-items: center;
        font-size: 1.25rem;
        min-height: 200px;
        max-height: 300px;
        height: auto;
        width: 80%;
        padding: 5px; }
        .reviews .movie .movie__info .movie__synopsis a {
          font-size: 0.85rem;
          font-weight: 400;
          text-decoration: none;
          background: #919191;
          border: black 2px solid;
          border-radius: 30px;
          color: black;
          padding: 9px 8px 10px 10px; }
      .reviews .movie .movie__info .movie__synopsis a:hover {
        background: #aa2b33; }

/* 404.html */
.box404 {
  display: block;
  width: 600px;
  height: auto;
  margin: 90px auto 25px auto; }
  .box404 img {
    display: block;
    width: 70%;
    margin: 0 auto 35px auto; }
  .box404 h2 {
    font-size: 45px;
    text-align: center; }
  .box404 p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px; }

/* news.html */
.main {
  width: 90%;
  height: auto;
  max-width: 1100px;
  background-color: #919191;
  margin: 60px auto 30px auto;
  border-radius: 30px;
  padding: 3%;
  padding-bottom: 10px; }
  .main h2 {
    color: black;
    font-weight: 600;
    margin-top: 15px;
    font-size: 42px; }
  .main .news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    grid-auto-flow: column dense;
    max-width: 1100px; }
    .main .news .news__article {
      position: relative;
      background: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
      overflow: hidden;
      border-radius: 5px;
      height: 180px; }
      .main .news .news__article .news__img {
        width: 100%;
        object-fit: cover;
        transition: 0.5s; }
      .main .news .news__article .news__img:hover {
        transform: scale(1.05); }
      .main .news .news__article a:hover > img {
        transform: scale(1.05); }
  .main .news__list {
    height: 150px;
    background-color: #a9a9a9;
    border-radius: 10px; }
    .main .news__list p {
      display: inline-block;
      position: relative;
      bottom: 40px;
      left: 5px;
      font-size: 18px;
      text-transform: none;
      color: black; }
    .main .news__list h2 {
      display: inline-block;
      position: relative;
      width: 58%;
      left: 262px;
      bottom: 120px;
      text-decoration: none;
      color: #252525;
      font-size: 26px; }
    .main .news__list .news__list__thumbnail {
      width: 250px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }

#hrm {
  margin: 5px; }

.news__article:nth-child(1) {
  grid-column: 1 / 4;
  height: 260px; }
  .news__article:nth-child(1) img {
    height: 100%;
    filter: brightness(90%);
    object-fit: cover; }
  .news__article:nth-child(1) p {
    position: absolute;
    bottom: 1%;
    left: 2%;
    font-size: 50px;
    color: white;
    font-weight: 700;
    line-height: 2.8rem; }

.news__article:nth-child(2) {
  grid-column: 1 / 2; }
  .news__article:nth-child(2) img {
    height: 100%;
    filter: brightness(80%); }
  .news__article:nth-child(2) p {
    position: absolute;
    bottom: 1%;
    left: 2%;
    font-size: 22px;
    color: white;
    font-weight: 700; }

.news__article:nth-child(3) {
  grid-column: -1 / 2; }
  .news__article:nth-child(3) img {
    height: 100%;
    filter: brightness(70%); }
  .news__article:nth-child(3) p {
    position: absolute;
    bottom: 1%;
    left: 2%;
    font-size: 30px;
    color: white;
    font-weight: 700; }

.news__article:nth-child(4) {
  grid-column: 1 / 3; }
  .news__article:nth-child(4) img {
    height: 100%;
    filter: brightness(70%); }
  .news__article:nth-child(4) p {
    position: absolute;
    bottom: .6%;
    left: 2%;
    font-size: 29px;
    color: white;
    font-weight: 700; }

.news__article:nth-child(5) {
  grid-column: 3 / -1; }
  .news__article:nth-child(5) img {
    filter: brightness(70%);
    height: 100%; }
  .news__article:nth-child(5) p {
    position: absolute;
    bottom: 1%;
    left: 2%;
    font-size: 25px;
    color: white;
    font-weight: 700; }

.news__article:nth-child(6) {
  grid-column: 1 / 3; }
  .news__article:nth-child(6) img {
    filter: brightness(70%);
    height: 100%; }
  .news__article:nth-child(6) p {
    position: absolute;
    bottom: 1%;
    left: 2%;
    font-size: 30px;
    color: white;
    font-weight: 700; }

.news__article:nth-child(7) {
  grid-column: 3 / -1; }
  .news__article:nth-child(7) img {
    height: 100%;
    filter: brightness(80%); }
  .news__article:nth-child(7) p {
    position: absolute;
    bottom: 1%;
    left: 2%;
    font-size: 30px;
    color: white;
    font-weight: 700; }

/* scare-package.html */
.review {
  position: relative;
  width: 68%;
  left: 5%;
  height: auto;
  background-color: #919191;
  border-radius: 20px;
  margin: 60px 0 25px 0;
  padding: 4% 7%; }
  .review .review__title {
    color: black; }
  .review .review__date {
    display: inline-block;
    position: relative;
    left: 3%; }
  .review .review__clock {
    display: inline-block;
    position: relative;
    width: 20px;
    left: 2.8%; }
  .review .review__imdb {
    display: inline-block;
    position: relative;
    left: 5%;
    top: -2px; }
  .review iframe {
    margin: 10px auto 0px auto; }
  .review p {
    font-size: 1.25rem;
    line-height: 1.8rem;
    color: black; }
    .review p img {
      display: block;
      width: 80%;
      margin: 10px auto 10px auto;
      border-radius: 4px; }

.info {
  width: 100%;
  height: auto; }
  .info .info__thumbnail {
    width: 30%; }
  .info h4 {
    display: inline-block;
    line-height: 1rem;
    margin: 20px 0 0 0; }
  .info .presentation {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1%; }
  .info .info__cast {
    position: relative;
    left: 2%;
    width: 70%;
    float: right; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.suggested {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: auto;
  background-color: #919191;
  border-radius: 20px;
  position: absolute;
  top: 240px;
  left: 77%;
  padding: 15px;
  padding-top: 25px; }
  .suggested p {
    text-align: left;
    margin-left: 10px;
    font-size: 1.4rem; }
  .suggested .suggested__movie {
    margin-bottom: 25px;
    align-self: center;
    width: 90%; }
    .suggested .suggested__movie img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 140px;
      border-radius: 10px; }
    .suggested .suggested__movie p {
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
      margin-top: 10px; }

.zoom {
  transition: transform .2s; }

.zoom:hover {
  transform: scale(1.03); }

/* movies.html */
.main a:hover {
  text-decoration: none;
  color: black; }

.main .reviews__list {
  height: 180px;
  background-color: #a9a9a9;
  border-radius: 10px; }
  .main .reviews__list .revinfo {
    display: inline-block;
    position: relative;
    left: 130px;
    top: -130px;
    width: 80%;
    display: flex;
    flex-direction: column; }
  .main .reviews__list .checked {
    color: orange; }
  .main .reviews__list .unchecked {
    color: #504f4f; }
  .main .reviews__list .fa-star {
    position: relative;
    top: -25px;
    left: 5px; }
  .main .reviews__list p {
    position: relative;
    top: -40px;
    width: 100%;
    font-size: 18px;
    text-transform: none;
    color: black; }
  .main .reviews__list h2 {
    display: inline-block;
    position: relative;
    top: -50px;
    width: 70%;
    text-decoration: none;
    color: #252525;
    font-size: 32px; }
  .main .reviews__list .reviews__list__thumbnail {
    height: 180px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }

@media only screen and (max-width: 1100px) {
  .carousel {
    margin: 20px auto 15px auto;
    width: 75%; }
    .carousel h2 {
      font-size: 18px; }
    .carousel p {
      font-size: 16px; }
  .reviews {
    width: 100%;
    margin: 0 !important; }
    .reviews .movie {
      width: 100%; }
      .reviews .movie h2 {
        top: 10px; }
      .reviews .movie .movie__info .movie__synopsis {
        overflow-y: auto; } }

@media only screen and (max-width: 768px) {
  html body {
    background-size: 400px 400px; }
  .footer {
    height: 10%; }
  .carousel {
    max-width: 500px;
    width: 98%;
    height: 350px;
    border-radius: 15px;
    overflow: hidden; }
    .carousel h2 {
      font-size: 15px; }
    .carousel p {
      font-size: 15px; }
    .carousel img {
      height: 350px;
      width: auto; }
  .reviews {
    border-radius: 10px;
    width: 100%;
    margin: 0px auto; }
    .reviews .movie {
      width: 100%;
      height: auto;
      border-radius: 15px; }
      .reviews .movie h2 {
        top: -3px; }
      .reviews .movie .movie__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: auto; }
        .reviews .movie .movie__info .movie__thumbnail {
          height: 180px;
          width: auto; }
        .reviews .movie .movie__info .movie__synopsis {
          min-height: 48%;
          width: 100%; }
  .news {
    width: 100%; }
    .news #news__mobile {
      height: 140px; }
  .news__article:nth-child(1) {
    grid-column: 1 / 4;
    height: 260px; }
    .news__article:nth-child(1) img {
      filter: brightness(90%); }
    .news__article:nth-child(1) p {
      font-size: 25px;
      line-height: 1.9rem; }
  .news__article:nth-child(2) {
    grid-column: 1 / 2; }
    .news__article:nth-child(2) p {
      line-height: 1rem;
      font-size: 14px;
      bottom: -12px; }
  .news__article:nth-child(3) {
    grid-column: -1 / 2; }
    .news__article:nth-child(3) img {
      top: -20%; }
    .news__article:nth-child(3) p {
      font-size: 18px;
      line-height: 1.2rem; }
  .news__article:nth-child(4) {
    grid-column: 1 / 3; }
    .news__article:nth-child(4) p {
      font-size: 15px; }
  .news__article:nth-child(5) {
    grid-column: 3 / -1; }
    .news__article:nth-child(5) img {
      top: 0;
      height: 100%; }
    .news__article:nth-child(5) p {
      font-size: 13px; }
  .news__article:nth-child(6) {
    grid-column: 1 / 3;
    height: 200px; }
    .news__article:nth-child(6) img {
      top: -30%; }
    .news__article:nth-child(6) p {
      font-size: 18px; }
  .news__article:nth-child(7) {
    grid-column: 3 / -1; }
    .news__article:nth-child(7) img {
      height: 100%; }
    .news__article:nth-child(7) p {
      font-size: 13px; }
  .main {
    margin-top: 15px; }
    .main h2 {
      font-size: 25px; }
    .main a:hover {
      text-decoration: none;
      color: black; }
    .main .reviews__list {
      height: 120px; }
      .main .reviews__list .revinfo {
        display: inline-block;
        position: relative;
        left: 90px;
        top: -80px;
        width: 70%;
        display: flex;
        flex-direction: column; }
      .main .reviews__list .checked {
        color: orange; }
      .main .reviews__list .unchecked {
        color: #504f4f; }
      .main .reviews__list .fa-star {
        position: relative;
        top: -28px;
        left: 3px; }
      .main .reviews__list p {
        position: relative;
        top: -35px;
        width: 100%;
        font-size: 12px;
        text-transform: none;
        color: black;
        line-height: 0.8rem; }
      .main .reviews__list h2 {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 1px; }
      .main .reviews__list .reviews__list__thumbnail {
        height: 120px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
    .main .news__list {
      height: 84px; }
      .main .news__list p {
        width: 200px;
        display: block;
        position: relative;
        left: 125px;
        bottom: 70px;
        font-size: 10px; }
      .main .news__list h2 {
        display: inline-block;
        position: relative;
        top: -100px;
        left: 125px;
        width: 75%;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px; }
      .main .news__list .news__list__thumbnail {
        object-fit: cover;
        width: 120px;
        height: 84px; }
  .box404 {
    margin: 150px auto 110px auto; }
  .review {
    width: 90%; }
    .review p img {
      width: 95%; }
  .suggested {
    display: none; } }

@media only screen and (max-width: 580px) {
  .navbar {
    padding-bottom: 5px !important;
    padding-left: 1% !important; }
    .navbar .logo {
      margin-left: 25%; }
    .navbar .collapse {
      margin-left: 0px !important; }
    .navbar #srch {
      margin-left: 0px; }
  .main .news__list {
    height: 84px; }
    .main .news__list p {
      display: inline-block;
      position: relative;
      left: 0px;
      bottom: 32px;
      font-size: 10px; }
    .main .news__list h2 {
      display: block;
      position: relative;
      top: -80px;
      left: 125px;
      width: 60%;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0px; }
    .main .news__list .news__list__thumbnail {
      object-fit: cover;
      width: 120px;
      height: 84px; } }

.footer {
  padding: 15px; }
  .footer .smedia {
    position: relative;
    top: 12px; }
    .footer .smedia .smedia__img {
      width: 30px; }
  .footer a {
    font-size: 11px; }
